# Build and commit
pre-commit

# System-level
python-dotenv
icecream
pytest

# LangChain and LangGraph
langgraph
langchain_community
langchain-experimental
langchain
langchainhub
langchain_groq
langchain-ollama
rank_bm25

# User interface
gradio

# Data
datasets
