# Build and commit
pre-commit

# System-level
python-dotenv
icecream
pytest

# LangChain, LangGraph and related stuff
langgraph
grandalf
langgraph-checkpoint-sqlite
langchain_community
langchain-experimental
langchain
langchainhub
langchain_anthropic
langchain_groq
langchain-openai
langchain-cohere
langchain-ollama
rank_bm25

# User interface
gradio

# Data
datasets
